<style>
.js-adv { display:none; }
#oper { margin-right:15px; }
</style>

<script id="temp_list" type="text/html">
<% 
for (var key in fields) { 
    var data = fields[key];
    data['map'] = map;
    data['fieldTypes'] = fieldTypes;
    include('temp_list_item', data);
} 
%>
</script>

<script id="temp_list_item" type="text/html">
<div class="list-group-item" fieldId="<%= fieldId %>" >
    <div class="row">
	    <p class="col-sm-2"><span style="display:inline-block;">
	      <input class='form-control' name="fieldName" required placeholder="字段名" title="字段名" type='text' value="<%= fieldName %>" />
	    </span></p>
        <p class="col-sm-2">
	      <input class='form-control' name="fieldCName" required placeholder="字段展现名称" title="字段展现名称" type='text' value="<%= fieldCName %>" />
	    </p>
	    <p class="col-sm-2">
	      	<select class='form-control' name="fieldType" required >
	        <% for (var key in fieldTypes) { %>
		        <option value='<%= key %>'  <%=  (fieldType == key) ? 'selected="selected"' : '' %>><%= fieldTypes[key] %></option>
		    <% } %>
	        </select>
	    </p>
        <p class="col-sm-3">
           <label class="checkbox-inline">
	           <input name="fieldDisplay2" type='checkbox' <%= (fieldDisplay & 2) ? 'checked' : '' %> /> 纬度
           </label>
           <label class="checkbox-inline">
	           <input name="fieldDisplay1" type='checkbox' <%= (fieldDisplay & 1) ? 'checked' : '' %> /> 指标
           </label>
           <label class="checkbox-inline">
	           <input name='needMerge' type='checkbox' <%= (needMerge & 1) ? 'checked' : '' %> /> 合并列
           </label>
	    </p>

        <span class="columns columns-right btn-group pull-right" id="oper">
	        <button class="btn btn-default" type="button" name="advOption" title="高级选项">
	            <i class="glyphicon glyphicon-chevron-down"></i>
	        </button>
            <button class="btn btn-default" type="button" name="delete" title="删除">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </span>
            
    </div>
    <div class="row js-adv" <%= showAdv ? 'style=display:block;' : '' %>>
	    <p class="col-sm-4">
	      <input class='form-control' name="fieldVirtualValue" placeholder="字段规则" title="字段规则" type='text' value="<%= fieldVirtualValue %>" />
	    </p>
	    <p class="col-sm-2">
            <input class='form-control' name="defaultValue" placeholder="默认值" title="默认值" type='text' value="<%= defaultValue %>" />
	    </p>
	    <p class="col-sm-2">
	      <input class='form-control' name="fieldSortName" placeholder="排序字段名" title="排序字段名" type='text' value="<%= fieldSortName %>" />
	    </p>
	    <p class="col-sm-2">
	   	  <select class='form-control' name="defaultSortOrder" title="排序方向">
		      <option value=''  <%=  defaultSortOrder == '' ? 'selected="selected"' : '' %>>不排序</option>
		      <option value='ASC' <%=  defaultSortOrder == 'ASC' ? 'selected="selected"' : '' %>>顺序</option>
		      <option value='DESC' <%=  defaultSortOrder == 'DESC' ? 'selected="selected"' : '' %>>逆序</option>
	       </select>
	    </p>
    </div>
    <div class="row js-adv" <%= showAdv ? 'style=display:block;' : '' %>>
        <p class="col-sm-2">
          <select class='form-control' name="fieldMap">
	      <% for (var mapIdx in map) { %>
          <%     var value = map[mapIdx]; %>
	          <option value='<%= mapIdx %>' <%= (fieldMap == value['func']) ? 'selected' : '' %>><%= value['desc'] %></option>
	      <% } %>
	      </select>
	    </p>
        <p class="col-sm-4">
          <textarea class='form-control' name="callBack"  placeholder="字段回调" title="字段回调"><%= callBack %></textarea>
	    </p>
        <p class="col-sm-4">
          <textarea class='form-control' name="fieldLength"  placeholder="字段枚举(json)" title="字段枚举(json)"><%= fieldLength %></textarea>
	    </p>
    </div>
</div>
</script>

<div class="list-group" id="liField"></div>
    
<script>

(function() {
	function init() {
		seajs.use('css/bootstrap.min.css');

		seajs.use('js/diy_config_table.js', function(page) {
			page.init(<?= json_encode($data) ?>);
		});
	}
	
	if (window.seajs) {
	    init();
	} else {
		var SITE_URL = "/cjms/";
		var script = document.createElement("script");
		script.src = SITE_URL + "static/js/libs/seajs.utils.js";
		script.charset = "utf-8";
		script.onload = init;

		var header = document.getElementsByTagName("head")[0];
		header.insertBefore(script, header.firstChild);
	}
})();

</script>





