<div id="condition" class="<?= $isAdmin ? '' : 'noPermision' ?>">

<style>
#advCondition { display:none; }
#advCondition, #advConditionForm > *, #normalCondition > * { margin:8px; }
#advConditionForm, #customCondition { margin-bottom:0; }
#advCondition .panel-body { padding:5px; }
#advCondition #switchToAdv { display:none; }
.ui-sortable-placeholder { background:#f5f5f5; visibility: visible!important; }
#normalCondition #switchToNormal, #normalCondition .adv-remove { display:none; }
#addCondition { margin-left:16px; } 

#setDefaultCondition, #getDefaultCondition { margin-left:16px; }
.noPermision .js-config { display:none; }
</style>

<script id="temp_form_inline" type="text/html">
<% 
for (var key in where) { 
    var data = where[key];
    include('temp_form_group', data);
} 
%>
	<button type="button" class="btn btn-primary btn-sm" id="search">查询</button>
	<button type="button" class="btn btn-link btn-sm" id="switchToNormal">普通查询>></button>
	<button type="button" class="btn btn-link btn-sm" id="switchToAdv">高级查询>></button>
    <? if ($editLink) { ?>
    <a class="btn btn-warning btn-sm js-config" id="editReport" href="<?= $editLink ?>" target="_blank" >编辑配置</a>
    <? } ?>
</script>

<script id="temp_form_group" type="text/html">
  <div class="form-group" fieldName="<%= fieldName %>" opt="<%= opt %>">
    <label for="<%= fieldName %>"><%= fieldCName %>:</label>
    <div class="input-group">
      <div class="input-group-addon"><%= optCName %></div>
      <input type="text" class="form-control input-sm" fieldType="<%= fieldType %>" value="<%= value1 %>" >
      
      <% if (value2 !== undefined) { %>
      <div class="input-group-addon" style="border-left: 0; border-right: 0;">~</div>
      <input type="text" class="form-control input-sm" fieldType="<%= fieldType %>" value="<%= value2 %>" >
      <% } %>
      
      <div class="input-group-addon adv-remove" style="border-left: 0;">
      	<a class="glyphicon glyphicon-remove" aria-hidden="true" href="javascript:void(0)"></a>
      </div>

    </div>
  </div>
</script>

<!-- 普通查询模块 -->
<form class="form-inline" id="normalCondition">

</form>

<!-- 高级查询模块 -->
<div class="panel panel-primary" id="advCondition">
  <div class="panel-heading">
      <span>当前条件</span>
      <button class="btn btn-warning btn-sm js-config" id="setDefaultCondition">设为默认</button>
      <button class="btn btn-warning btn-sm js-config" id="getDefaultCondition">载入默认</button>
  </div>
  <div class="panel-body">
    <form class="form-inline" id="advConditionForm">
	  
	</form>
  </div>
  <div class="panel-footer">
    <form class="form-inline" id="customCondition">
      <!-- 选择字段 -->
      <select class="form-control input-sm" id="fieldName">
      <? foreach ($fields as $field) { ?>
         <option value="<?= $field['fieldName'] ?>" fieldType="<?= $field['fieldType'] ?>" ><?= $field['fieldCName'] ?></option>
      <? } ?>
      </select>
      
      <select class="form-control input-sm" id="opt">
       <? foreach ($opts as $key => $opt) { ?>
         <option value="<?= $key ?>"><?= $opt ?></option>
      <? } ?>
      </select>
      
      <div class="input-group">
	    <input class="form-control input-sm" name="value1" type="text" >
	    <div class="input-group-addon" style="border-left: 0; border-right: 0; display:none;">~</div>
        <input class="form-control input-sm" name="value2" type="text" style="display:none;">
	  </div>

      <button type="button" class="btn btn-primary btn-sm" id="addCondition">添加条件</button>
    </form>
  </div>
</div>
</div>

<script>
(function() {
	function init() {
		seajs.use('css/bootstrap.min.css');
		seajs.use('css/bootstrap-datetimepicker.min.css');

		seajs.use('js/diy_condition.js', function(page) {
			page.init(<?= json_encode(compact('where', 'opts', 'fields')) ?>);
		});
	}
	
	if (window.seajs) {
	    init();
	} else {
		var SITE_URL = "/cjms/";
		var script = document.createElement("script");
		script.src = SITE_URL + "static/js/libs/seajs.utils.js";
		script.charset = "utf-8";
		script.onload = init;

		var header = document.getElementsByTagName("head")[0];
		header.insertBefore(script, header.firstChild);
	}
})();

</script>


