<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><?= SITE_NAME ?></title>

<!-- Bootstrap -->
<link href="<?= SITE_URL ?>static/css/bootstrap.min.css" rel="stylesheet">
<body>

<div id="temp_addOption" class="col-sm-3" style="display:none;">
  <div class="input-group">
    <input type="text" class="form-control" id="optionValue" >
    <div class="input-group-btn">
      <button id="add" type="button" class="btn btn-default">添加</button>
      <button id="cancel" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
</div>

<div style="margin:10px;">
<form  class="form-horizontal" id="tableForm">

  <div class="form-group">
    <label class="col-sm-2 control-label">页面地址</label>
    <div class="col-sm-10">
      <input class="form-control" id="tableId" type="hidden" title="页面地址" value="<?=$tableInfo['tableId']?>"/>
      <p class="form-control-static"><a id="linkUrl" href="<?= $link ?>" target="_blank"><?= $link ?></a></p>
    </div>
  </div>
  
  <div class="form-group">
    <label for="tableCName" class="col-sm-2 control-label">页面标题</label>
    <div class="col-sm-10">
      <input class="form-control" id="tableCName" required type="text" title="页面标题" value="<?= $tableInfo['tableCName'] ? htmlspecialchars($tableInfo['tableCName']) : '' ?>" />
    </div>
  </div>
  
  <div class="form-group">
    <label for="extraJsCss" class="col-sm-2 control-label">
      管理员(用,隔开)
    </label>
    <div class="col-sm-10">
      <textarea class="form-control" id="admins" required title="管理员"><?= $tableInfo['admins'] ? $tableInfo['admins'] : $_SESSION['username'] ?></textarea>
    </div>
  </div>
  
  <div class="form-group">
    <label for="pagination" class="col-sm-2 control-label">页面尺寸</label>
    <div class="col-sm-2">
      <select class="form-control" id="pagination">
	  <? foreach ($pageSizes as $value) { ?>
	      <? if ($value == $tableInfo['pagination']) { ?>
	  	  <option selected><?= $value ?></option>
	      <? } else { ?>
	      <option><?= $value ?></option>
	      <? } ?>
	  <? } ?>
	  </select>
    </div>
  </div>
  
  <!-- div class="form-group">
    <label for="tableInfo" class="col-sm-2 control-label">页面说明</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="tableInfo" title="页面说明"><?=htmlspecialchars($tableInfo['tableInfo'])?></textarea>
    </div>
  </div -->
  
  <div class="form-group">
    <label for="extraJsCss" class="col-sm-2 control-label">
      内嵌Css或Js(<a class="stip" title="可以写＜script＞js代码＜script＞<br/>或＜style type='text/css＞css代码＜/style＞">？</a>)
    </label>
    <div class="col-sm-10">
      <textarea class="form-control" id="extraJsCss" title="页面说明"><?=htmlspecialchars($tableInfo['extraJsCss'])?></textarea>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-2 control-label">数据操作</label>
    <div class="col-sm-10">
	    <label class="checkbox-inline">
		  <input type="checkbox" id="editFlag" <?=$tableInfo['editFlag']?'checked':''?> > 可编辑
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" id="excelFlag" <?=$tableInfo['excelFlag']?'checked':''?> > 可导出
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" id="bookFlag" <?=$tableInfo['bookFlag']?'checked':''?> > 可订阅
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" id="groupFlag" <?=$tableInfo['groupFlag']?'checked':''?> > 可分组计算
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" id="chartFlag" <?=$tableInfo['chartFlag']?'checked':''?> > 可展现图形
		</label>
	</div>
  </div>
  
  <div class="form-group">
    <label for="sourceHost" class="col-sm-2 control-label">数据库IP</label>
    <div class="col-sm-4">
      <select class="form-control" id="sourceHost" required >
      <?foreach($sourceHosts as $sourceHost) {?>
          <option value="<?=$sourceHost?>" <?=$sourceHost == $tableInfo['sourceHost'] ? 'selected="selected"' : ''?>><?=$sourceHost?></option>
      <?}?>
      </select> 
    </div>
    <div class="col-sm-4" style="line-height:34px;">
      <a href="javascript:void(0);" class="addOption">手动添加IP</a>
    </div>
  </div>
  
  <div class="form-group">
    <label for="sourcePort" class="col-sm-2 control-label">端口</label>
    <div class="col-sm-2">
    	<input class="form-control" id="sourcePort" required type="text" title="端口" placeholder="端口" value="<?=$tableInfo['sourcePort']?$tableInfo['sourcePort']:'3306'?>" />
    </div>
  </div>
  
  <div class="form-group">
    <label for="sourceUser" class="col-sm-2 control-label">
      用户名
    </label>
    <div class="col-sm-4">
      <input class="form-control" id="sourceUser" type="text" class="text" title="用户名" placeholder="用户名" value="<?=$tableInfo['sourceUser']?$tableInfo['sourceUser']:'root'?>" />
    </div>
  </div>

  <div class="form-group">
    <label for="sourcePass" class="col-sm-2 control-label">
      密码
    </label>
    <div class="col-sm-4">
      <input class="form-control" id="sourcePass" type="password" class="text" title="密码" placeholder="密码" value="<?=$tableInfo['sourcePass']?$tableInfo['sourcePass']:''?>" />
    </div>
  </div>
  
  <div class="form-group">
    <label for="sourceDb" class="col-sm-2 control-label">
      数据源库名
    </label>
    <div class="col-sm-4">
      <select class="form-control" id="sourceDb" required title="数据源库名" >
          <option><?=$tableInfo['sourceDb']?></option>
      </select>
    </div>
    <div class="col-sm-4" style="line-height:34px;">
      <a href="javascript:void(0);" id="loadDb">刷新</a>
      <a href="javascript:void(0);" class="addOption">手动添加</a>
    </div>
  </div>
  
  <div class="form-group">
    <label for="sourceDb" class="col-sm-2 control-label">
      数据源表名
    </label>
    <div class="col-sm-4">
      <select class="form-control" id="sourceTable" required title="数据源表名" >
          <option><?=$tableInfo['sourceTable']?></option>
      </select>
    </div>
    <div class="col-sm-4" style="line-height:34px;">
      <a href="javascript:void(0);" id="loadTable">刷新</a>
      <a href="javascript:void(0);" class="addOption">手动添加</a>
    </div>
  </div>

  <div class="form-group">
    <label for="sourceCallBack" class="col-sm-2 control-label">
      数据源表名回调(<a class="stip" title="关键字：$_conditions">？</a>)
    </label>
    <div class="col-sm-10">
      <textarea class="form-control" id="sourceCallBack"><?=htmlspecialchars($tableInfo['sourceCallBack'])?></textarea>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <input loadType="1" type="button" class="btn btn-default loadField <?= $tableInfo ? '' : 'hide'?>" value="加载原字段" />
	  <input loadType="2" type="button" class="btn btn-default loadField" value="加载数据库字段" />
	  <input loadType="3" type="button" class="btn btn-default loadField <?= $tableInfo ? '' : 'hide'?>" value="原字段覆盖数据库字段" />
	  <input id="addField" type="button" class="btn btn-default" value="添加新字段" />
    </div>
    <div class="panel-body" id="tableDiv">
    
    </div>
    <div class="panel-footer">
      <input class="btn btn-default" id="saveTable" type="button" value="提交">
    </div>
  </div>
  
</form>

</div>

<script src="<?= SITE_URL ?>static/js/libs/seajs.utils.js"></script>
<script src="<?= SITE_URL ?>static/js/libs/jquery-1.10.2.js"></script>
<script src="<?= SITE_URL ?>static/js/libs/bootstrap.min.js"></script>
<script>
	seajs.use('js/diy_config.js', function(page) {
		page.init(<?= json_encode($map) ?>);
	});
</script>

</body>
</html>

