<script id="temp_list" type="text/html">
<div class="list-group" id="fieldGroup">
<% 
for (var key in fields) { 
    var data = fields[key];
    data['map'] = map;
    data['fieldTypes'] = fieldTypes;
    include('temp_list_item', data);
break;
} 
%>
</div>
</script>

<script id="temp_list_item" type="text/html">
<div class="list-group-item">
    <div class="row">
	    <p class="col-sm-2">
	      <input class='form-control' name="fieldName" placeholder="字段名" title="字段名" type='text' value="<%= fieldName %>" />
	    </p>
	    <p class="col-sm-2">
	      <input class='form-control' name="fieldVirtualValue" placeholder="字段规则" title="字段规则" type='text' value="<%= fieldVirtualValue %>" />
	    </p>
	    <p class="col-sm-2">
	      <input class='form-control' name="fieldSortName" placeholder="排序字段名" title="排序字段名" type='text' value="<%= fieldSortName %>" />
	    </p>
	    <p class="col-sm-2">
	   	  <select class='form-control' name="defaultSortOrder" title="排序方向">
		      <option value=''  <%=  defaultSortOrder == '' ? 'selected="selected"' : '' %>>不排序</option>
		      <option value='ASC' <%=  defaultSortOrder == 'ASC' ? 'selected="selected"' : '' %>>顺序</option>
		      <option value='DESC' <%=  defaultSortOrder == 'DESC' ? 'selected="selected"' : '' %>>逆序</option>
	       </select>
	    </p>
    </div>
    <div class="row">
	    <p class="col-sm-2">
	      <input class='form-control' name="fieldCName" placeholder="字段展现名称" title="字段展现名称" type='text' value="<%= fieldCName %>" />
	    </p>
	    <p class="col-sm-2">
	      	<select name="fieldType">
	        <% foreach (var key in fieldTypes) { %>
		        <option value='<%= key %>'  <%=  fieldType == key ? 'selected="selected"' : '' %>><%= filedTypes[key] %></option>
		    <% } %>
	        </select>
	    </p>
	    <p class="col-sm-2">
            <input class='form-control' name="defaultValue" placeholder="默认值" title="默认值" type='text' value="<%= defaultValue %>" />
	    </p>
    </div>
   
</div>
</script>

<div id="liField">
</div>

<!-- table id="liField" class="list" style="width:100%;">
	<tr class="th">
	    <th class="th">字段操作</th>
	    <th class="th">字段名</th>
	    <th class="th">显示名称</th>
	    <th class="th">排序名称</th>
	    <th class="th">默认排序</th>
	    <th class="th">纬度 <input type="checkbox" id="fieldDisplay2"/></th>
	    <th class="th">指标<input type="checkbox" id="fieldDisplay1"/></th>
	    <th class="th">合并<input type="checkbox" id="needMerge"/></th>
	    <th class="th">字段类型</th>
	    <th class="th">
	       <a class="stip"  title='<div style="text-align:left;"><span class="red">$_curDb</span> 当前数据库连接对象;</div>'  href="javascript:">字段长度</a>
	    </th>
	    <th class="th">规则</th>
	    <th class="th">默认值</th>
	    <th class="th">
	       <a class="stip"  title='<div style="text-align:left;">
		       <span class="red">$_row</span> 当前行对象;<br/> 
		       <span class="red">$_rowIndex</span> 当前行索引;<br/> 
		       <span class="red">$_val</span> 当前字段值;
		    </div>' 
	        href="javascript:">回调函数</a>
	    </th>
	    <th class="th">字典</th>
	</tr>

</table  -->

<script>

(function() {
	function init() {
		seajs.use('css/bootstrap.min.css');

		seajs.use('js/diy_config_table.js', function(page) {
			page.init(<?= json_encode($data) ?>);
		});
	}
	
	if (window.seajs) {
	    init();
	} else {
		var SITE_URL = "/cjms/";
		var script = document.createElement("script");
		script.src = SITE_URL + "static/js/libs/seajs.utils.js";
		script.charset = "utf-8";
		script.onload = init;

		var header = document.getElementsByTagName("head")[0];
		header.insertBefore(script, header.firstChild);
	}
})();

</script>





