<div id="table" style="margin:10px;">
    <style>
    #oper a { margin-left: 5px; }
    .table thead th { text-align: center; white-space: nowrap; }
    </style>
    <?=  $other['tableInfo']['extraJsCss'] ?>
	<table class="table table-hover table-striped" style="margin-bottom: 0;">
	  <caption>
            <span><?= $other['tableInfo']['tableCName'] ?></span> 
            <span class="pull-right" id="oper">
                <a class="glyphicon glyphicon-copy" href="javascript:void(0)" title="复制表格Url"></a>
                <a class="glyphicon glyphicon-refresh" href="javascript:void(0)" title="刷新"></a>
                <a class="glyphicon glyphicon-remove" href="javascript:void(0)" title="关闭" ></a>
            </span>
      </caption>
        
      <thead style="text-align:center;">
        <tr>
          <? foreach ($fieldNames as $fieldName => $sortKey) { 
                     $field = $other['fields'][$fieldName];  
                     if ($other['showGroupBy'] && !$field['cal'] && !$field['groupby'] && ($other['isMail'] || $other['hideNoGroupBy'])) { continue; }
             ?>
            <th fieldName="<?=$field['fieldName']?>"  <?= $sortKey ? 'sortKey="' . $sortKey . '"' : '' ?>>
                <a class="js_sort" href="javascript:void(0)"><?=$field['fieldCName']?></a>
                <?=$field['icon']?>
                <? if ($other['keyWord']['_sortKey'] == $sortKey) { ?>
                <?     if ($other['keyWord']['_sortDir'] == 'DESC') { ?>
                <span class="glyphicon glyphicon-triangle-bottom" id="arrow"></span>
                <?     } else { ?>
                <span class="glyphicon glyphicon-triangle-top" id="arrow"></span>
                <?     } ?>
                <? } ?>
            </th>
          <? } ?>
        </tr>
      </thead>
      <tbody>
      <? if ($datas) { ?> 
      <!--  数据的内容 -->
       <?
            foreach ($datas as $rowNum => $data) { 
               $colNum = 0;
       ?>
        
        <tr>
            <? foreach ($data as  $fieldName =>$value) { ?>
            <?     
                     $className =  $colNum++ ? '' : (($rowNum & 1) ? 'td_spec1' : 'td_spec2');
                     $field = $other['fields'][$fieldName]; 
                     if ($other['showGroupBy']) {
                         if (!$field['cal'] && !$field['groupby']) {
                             //对于邮件和hideNoGroupBy的表格，不显示groupby字段
                             if ($other['isMail'] || $other['hideNoGroupBy']) { continue; }
                             $className .= " lightGray";
                         }
                     }   
                     
                     //合并某一列相同的行
                     if ($mergeFieldData[$fieldName][$rowNum] === 0 ) { continue;  }  
                     $rowSpan = $mergeFieldData[$fieldName][$rowNum] ? "rowSpan='{$mergeFieldData[$fieldName][$rowNum]}'" : '';
            ?>
            <td <?=$rowSpan?>><?=$value ?></td>
            <? } ?>
        </tr>
        <? } ?>
    <? } else { ?>
        <!--  没数据的情况 -->
        <tr>
            <td>没有数据</td>
        </tr>
    <? } ?>
      </tbody>
    </table>
	<?= $pagerHtml ?>
	
<script>
(function() {
	function init() {
		seajs.use('css/bootstrap.min.css');
		seajs.use('js/diy_table.js', function(page) {
			page.init();
		});
	}
	
	if (window.seajs) {
	    init();
	} else {
		var SITE_URL = "/cjms/";
		var script = document.createElement("script");
		script.src = SITE_URL + "static/js/libs/seajs.utils.js";
		script.charset = "utf-8";
		script.onload = init;

		var header = document.getElementsByTagName("head")[0];
		header.insertBefore(script, header.firstChild);
	}
})();
</script>
</div>



