/* css document */
*{
    font-size:12px;
    font-family: 微软雅黑;
}
html {
    padding:0px;
}
body {
    margin:0px;
    height:100%;
    background:none;
	outline:none;
}
img {
    border:0;
}
form {
    margin:0;
}
label {
	vertical-align: middle;
}
.select,.input,.textarea { border-width:1px;margin:1px;padding:1px;}
select, input, label {vertical-align: middle; }
textarea {vertical-align:top;border-top-color: #ABADB3;border-right-color: #DBE9E6;border-bottom-color: #DBE9E6;border-left-color: #DBE9E6;}

/** ++++++++++++++++++++++++ Css原子操作 ++++++++++++++++++++++++++++++*/
/** 文字排版 */
.fl { float:left; display:inline; }
.fr { float:right; display:inline; }
.clearfix:after { content: ".";  height: 0; clear:both; visibility: hidden; display:block; }
.clearfix { display:inline-block; }
.zoom { zoom:1 }
.hidden { visibility:hidden; }
.none { display:none; }


.text {
    vertical-align: middle;
}
.button {
	margin:2px;
    border-width: 1px;
    vertical-align: middle;
}
.textarea {
    vertical-align: top;
}
.radio {
	vertical-align: middle;
}
.select {
    vertical-align: middle;
    margin-top:1px;
}
.list {
    font-size:12px;
    line-height:140%;
    border:1px #2977b0 solid;
    border-collapse:collapse;
    background-color:#fff;
}
.list td, .list th{
    border:1px #8db9db solid;
    border-collapse:collapse;
}
.list caption {
    text-align:left;
    line-height:24px;
    font-weight:bold;
    padding-left:2px;
    vertical-align:middle;
}
.list th {
    white-space: nowrap;
    padding-left:8px;
    padding-right:8px;
}


.list caption {
	vertical-align: middle;
}

.list .th {
    color:#444;
    height:26px;
    white-space: nowrap;
	background-color:#D5E7F3;
	background-image:url("../image/ui-bg_flat_100_d5e7f3_40x100.png") repeat-x scroll 50% 50%
}

.list .th .comment {
    color:#000099;
    font-size:80%;
    font-weight:normal;
}
.list .tr {
    height:26px;
    background: #fcfdfd;
}
.list .tr_spec {
    height:26px;
    background:#f5f8f9;
    /*background-color:#F5F7FD;*/
}
.list .tr_spec:hover, .list .tr:hover, .list .tr_hover {
    background:#dfeffc url(../image/ui-bg_glass_85_dfeffc_1x400.png) repeat-x 50% 50%;
}
.list .td {
    color:#2e6e9e;
    padding:0 8px;
}
.list .tm {
    color:#666;
    padding:0 8px;
    white-space: nowrap;
}
.list .td_spec {
    color:#2e6e9e;
    padding:0 8px;
}
.list .td_spec1 {
    color:#2e6e9e;
    padding:0 8px;
    background-image:url('../image/td_bg1.gif');
    background-position:top left;
    background-repeat:no-repeat;
}
.list .td_spec2 {
    color:#2e6e9e;
    padding:0 8px;
    background-image:url('../image/td_bg2.gif');
    background-position:top left;
    background-repeat:no-repeat;
}
/* 分页 */
.pager {
    font-size:12px;
    margin:0px;
    color:#33;
    height:24px;
    border-left:1px #c7d4f4 solid;
    display:block;
    padding:0;
}
.pager li {
    float: left;
    background:#fff;
    line-height:24px;
    height:24px;
    padding:0 5px;
    border-right:1px #c7d4f4 solid;
    border-bottom:1px #c7d4f4 solid;
    border-top:1px #c7d4f4 solid;
    list-style-type:none;
    margin:0px;
}
.pager a {
    line-height:24px;
    height:24px;
    display: inline-block;
    padding:0 5px;
    margin:0 -5px;
    text-decoration: none;
    color:blue;
}
.pager a:hover {
    background:#eee;
    text-decoration: underline;
}
.pager img {
    vertical-align:middle;
    margin-top:8px\9;
    display: inline-block;
}
.pager .text {
    width:20px;
    height:14px;
    text-align:center;
    vertical-align:middle;
    margin:2px;
}

.dialog {
    display: none;
}

.dialog .contain {

}

.dialog .contain .line {
    margin: 10px 0;
}

.dialog .contain input {
    border-width: 1px;
    vertical-align: middle;
}

.dialog .contain textarea {
    border-width: 1px;
    vertical-align: top;
}

.dialog .contain select {
    border-width: 1px;
    vertical-align: middle;
}
/*
.dialog .contain .list {
    font-size: 12px;
    line-height: 140%;
    border: 1px #ccc solid;
    border-collapse: collapse;
    background-color: #fff;
}

.dialog .contain .list td {
    border: 1px #ccc solid;
    border-collapse: collapse;
    padding: 0 8px;
}
*/
.dialog .contain .list .action {
    width: 50px;
    text-align: center;
}
/*
.dialog .contain .list tr {
    height: 26px;
    background-color: #fcfcfc;
}

.dialog .contain .list .tr1 {
    background-color: #f0f0f0;
}
*/

.timeImg {vertical-align:middle;cursor: pointer; border: 1px solid red;height:18px}

.details{width:100%; overflow:hidden;padding-top:5px;}
.details a:link, .details a:visited{text-decoration:none; zoom:1;}
.details a:hover, .details a:active{text-decoration:underline; zoom:1;}
.details .lead{height:24px; position:relative; margin-bottom:-1px;}
.details .lead .tab{position:absolute; top:0; left:11px;}
.details .lead .tab .item{background:url(../image/bt.png) no-repeat 0 -100px; text-align:center; line-height:25px; float:left; display:block; height:24px; overflow:hidden; margin-right:1px; color:#666; padding-left:15px;}
.details .lead .tab .item .co{display:block; background:url(../image/bt.png) no-repeat right -100px; text-align:center; line-height:25px; float:left; display:block; height:24px; overflow:hidden; cursor:pointer; color:#666; padding-right:15px;}
.details .lead .tab .item_now{background:url(../image/bt.png) no-repeat 0 -50px; text-align:center; line-height:25px; float:left; display:block; height:24px; overflow:hidden; margin-right:1px; color:#666; font-weight:bold; padding-left:15px;}
.details .lead .tab .item_now .co{display:block; background:url(../image/bt.png) no-repeat right -50px; text-align:center; line-height:25px; float:left; display:block; height:24px; overflow:hidden; cursor:pointer; color:#666; padding-right:15px;}
.details .lead .op{position:absolute; top:5px; right:9px; color:#666;}
.details .bor{border-top:#C6D3F3 solid 1px; overflow:hidden;height:10px;background:#FFF url(../../image/tab_bg.gif) repeat-x}
.details .list{margin:6px 10px 0 10px;}
.details .list .item{padding:7px 5px; border-bottom:#DBDBDB dashed 1px; color:#666;}
.details .list .item .icon_p{vertical-align:middle;}
.details .list .item .sort{color:#31679F;}
.details .list .item .tit{color:#666;}
.details .list .item .name{color:#aaa;}
.details .list .item .time{color:#aaa; font-style:italic; font-size:10px;}
.details .content{margin:4px 0 0 10px; width:524px; overflow:hidden; position:relative;}
.details .content .lists{width:550px;}
.details .content .item{float:left; width:174px; height:55px; border-bottom:#DBDBDB dashed 1px; background:url(../image/bt.png) no-repeat -142px -133px; position:relative; }
.details .content .item .bg{position:absolute; top:5px; left:3px; width:164px; height:43px; background:url(../image/bt.png) no-repeat -146px -139px #F7F9FD; border:#E5ECFD solid 1px; visibility:hidden;}
.details .content .item .tit{position:absolute; top:12px; left:18px;}
.details .content .item .tit a{color:#666;}
.details .content .item .tit .icon_w{vertical-align:middle;}
.details .content .item .name{position:absolute; top:30px; left:18px; color:#AAA;}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus
{ 
    outline: 1px solid #6FA1D9 !important; 
    -webkit-box-shadow:0px 0px 5px #6FA1D9 !important;
    -moz-outline-radius: 5px !important; 
}

/* 时间控件的样式 */
.time_block {display: inline-block; border: 1px solid #969696; white-space: nowrap; padding:1px;  vertical-align: middle; }
.minuTimeInput,.timeInput { border: 0px none; width: 80px; line-height: 16px; margin: 0; padding:0; text-align:center; vertical-align: middle; }
.time_arrow_left, .time_arrow_right { display: inline-block; cursor: pointer; border: medium none; width: 14px; height: 15px; vertical-align:middle;}
.datepicker-minu-detail {vertical-align: middle;}


/* 监控配置的样式 */
fieldset, fieldset legend {-moz-border-radius:4px 4px 4px 4px; }
fieldset { border:1px solid #8DB9DB;; padding:10px; margin:0px; margin-top:10px; }
fieldset legend {border:1px solid #8DB9DB; padding:2px 10px; color:#444444; background:url("../image/ui-bg_flat_100_d5e7f3_40x100.png") repeat-x scroll 50% 50%;}


/*提示框*/
#__msgbox {overflow:visible;}
#__msgbox .wrap{z-index: 200000; position: fixed;margin-left:-50px;overflow:visible;}
#__msgbox .wrap,
#__msgbox .ico,
#__msgbox .end{float: left;height:54px;line-height:54px;font-weight:bold;font-size:14px;color:#606060;background-image:url("../image/msgbox.png");background-repeat:no-repeat;overflow:visible;}
#__msgbox .wrap{background-position:0 -161px;background-repeat:repeat-x;left:50%;top:30%;padding:0 18px 0 9px;}
#__msgbox .succ{background-position:-6px 0;left:-45px;top:0;width:45px;position:absolute;}
#__msgbox .end{background-position:0 0;position:absolute;right:-6px;top:0;width:6px;}
#__msgbox .err{background-position:-6px -108px;position:absolute;left:-45px;top:0;width:45px;}
#__msgbox .warn{background-position:-6px -54px;position:absolute;left:-45px;top:0;width:45px;}
#__msgbox .clear{background-position:-6px 0;left:-5px;width:5px;position:absolute;top:0;}
#__msgbox img{float:left;margin:19px 10px 0 5px ;}
#__msgbox  .content{font-size:16px;}

/*tooltip*/
.colorTip{
    /* This class is assigned to the color tip span by jQuery */
    
    display:none;
    position:absolute;  
    left:50%;
    top:-30px;
    padding:6px;
    
    background-color:white;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    font-style:normal;
    line-height:1;
    text-decoration:none;
    text-align:center;
    text-shadow:0 0 1px white;
    white-space:nowrap;
    
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

.pointyTip,.pointyTipShadow{
    /* Setting a thick transparent border on a 0x0 div to create a triangle */
    border:6px solid transparent;
    bottom:-12px;
    height:0;
    left:50%;
    margin-left:-6px;
    position:absolute;
    width:0;
}

.pointyTipShadow{
    /* The shadow tip is 1px larger, so it acts as a border to the tip */
    border-width:7px;
    bottom:-14px;
    margin-left:-7px;
}

.colorTipContainer{
    position:relative;
    text-decoration:none !important;
    color:Red;
}


/* 6 Available Color Themes */

.white .pointyTip{ border-top-color:white;}
.white .pointyTipShadow{ border-top-color:#ddd;}
.white .colorTip{
    background-color:white;
    border:1px solid #DDDDDD;
    color:#555555;
}

.yellow .pointyTip{ border-top-color:#f9f2ba;}
.yellow .pointyTipShadow{ border-top-color:#e9d315;}
.yellow .colorTip{
    background-color:#f9f2ba;
    border:1px solid #e9d315;
    color:#5b5316;
}

.blue .pointyTip{ border-top-color:#d9f1fb;}
.blue .pointyTipShadow{ border-top-color:#7fcdee;}
.blue .colorTip{
    background-color:#d9f1fb;
    border:1px solid #7fcdee;
    color:#1b475a;
}

.green .pointyTip{ border-top-color:#f2fdf1;}
.green .pointyTipShadow{ border-top-color:#b6e184;}
.green .colorTip{
    background-color:#f2fdf1;
    border:1px solid #b6e184;
    color:#558221;
}

.red .pointyTip{ border-top-color:#bb3b1d;}
.red .pointyTipShadow{ border-top-color:#8f2a0f;}
.red .colorTip{
    background-color:#bb3b1d;
    border:1px solid #8f2a0f;
    color:#fcfcfc;
    text-shadow:none;
}

.black .pointyTip{ border-top-color:#333;}
.black .pointyTipShadow{ border-top-color:#111;}
.black .colorTip{
    background-color:#333;
    border:1px solid #111;
    color:#fcfcfc;
    text-shadow:none;
}
.textareaOnText{background-color:transparent;border:none;outline:none}

.tiplist .highlight {
	color:red;
    font-weight:bold;
}
.name .highlight {
    color:red;
    font-size:14px;
    font-weight:bold;
}
.tipTd {
	width:75px; 
	text-align:left;
}
.tiplist {
    font-size:12px;
    line-height:140%;
    border:1px #DBE9E6 solid;
    border-collapse:collapse;
    background-color:#fff;
}
.tiplist td, .tiplist th{
    border:1px #DBE9E6 solid;
    border-collapse:collapse;
}
.tiplist caption {
    text-align:center;
    line-height:24px;
    font-weight:bold;
    padding-left:2px;
}
